.heading {
    font-size: 2.5em; 
  color: #003366; 
  text-align: center; /* Centers the heading */
  margin-top: 20px; /* Adds some space at the top */
  font-family: 'Arial', sans-serif; /* Sets a professional font */
}
.container {
   display: grid;
   grid-auto-flow: column;  
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.cv-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    justify-self: center;
}
form {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.button-container {
    background-color: #f0f8ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content:flex-start;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.Optional {
    background-color: #f0f8ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content:flex-start;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;

}
button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #2C3E50;
    color: white;
    transition: transform 0.3s ease; 
}
.button-secondary {
    background-color: #E74C3C;
}
button:hover {
    background-color: #34495E;
    transform: scale(1.1);
    
}
.submit-button {
    width: max-content;
}
.button-secondary:hover {
    background-color: #C0392B;
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    box-sizing: border-box;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #2C3E50;
    outline: none;
}
.export {
    margin: 40;
    justify-self: center;
}
h6 {
    margin: 0;
    padding: 0;
}
.personal-card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    gap: 40px;
    width: fit-content;
    padding: 4px;
}
.delete-button {
    height: 10px;
    width: 10px;
}