body {
    font-family: var(--font-style);
}
.resume {
    border: 2px solid black;
    padding: 30px;
    font-size: 30px;
    width: 20em;
    display: flex;
    flex-direction: column;
    font-family: var(--font-style);
    height: 297mm;
}
.header {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: sans-serif;
}
.below-header {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    gap: 10px;
    margin: 0;
}
h5 {
    margin: 0;
}
hr {
    margin: 0;
}
h3 {
    padding: 0;
    margin: 5px;
    font-size: var(--font-size);
    font-family: var(--font-style);
}
.education {
    margin: 0;
    display: flex;
}
.education > div {
    margin: 0;
    font-size: 0.8rem;
    font-family: var(--font-style);
}
.subheading {
    font-size: 0.6rem;
}
.educationInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;  
    margin-bottom: -5px;
}
.educationInfo p {
    margin: 8px 3px;
}
.location{
    text-align: right;
}
.displaySkills {
    font-size: 0.8rem;
    padding: 5px;
}
.project-item {
    font-size: 0.8rem;
    margin: 0;
}
:root {
    --font-size: 1rem;
    --font-style: sans-serif;
}
.below-text {
    padding: 0;
    padding-bottom: -10px;
}
strong {
    padding: 0px;
}
